{{#partial "contenido"}}
    <h1>Categorías</h1>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {{#each categorias}}
            <tr>
                <form method="POST" action="/categorias/{{id}}" class="my-0" style="display: flex;">
                    <td>
                        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre de Categoría" value="{{nombre}}">
                    </td>
                    <td>
                        <div class="form-check">
                            <input id="permiteEntidadBase{{id}}" name="permiteEntidadBase" class="form-check-input" type="checkbox" value="true" {{#if permiteEntidadBase}}checked{{/if}}>
                            <label class="form-check-label" for="permiteEntidadBase{{id}}">Puede ser jurídica</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input id="puedeSerDeJuridica{{id}}" name="puedeSerDeJuridica" class="form-check-input" type="checkbox" value="true" {{#if puedeSerDeJuridica}}checked{{/if}}>
                            <label class="form-check-label" for="puedeSerDeJuridica{{id}}">Permite entidad base</label>
                        </div>
                    </td>
                    <td align="right" style="padding-right: 0;">
                        <input class="btn btn-sm btn-outline-success" type="submit" value="Guardar">
                    </td>
                </form>
                <td>
                    <form method="POST" action="/categorias/{{id}}/delete" class="my-0"><input class="btn btn-sm btn-outline-danger" type="submit" value="Borrar"></form>
                </td>
            </tr>
        {{/each}}
    </table>
    <form method="POST" action="/categorias/new"><input class="btn btn-success" type="submit" value="Nueva"></form></td>
{{/partial}}

{{>layout.hbs}}