{{#partial "contenido"}}
    <h1>Entidades</h1>
    <br>
    <form method="GET" action="/entidades" class="form-inline">
        <br>
        <label>Buscar por categoría:</label>
        <br>
        &ensp;
        <select id="categoria" name="categoria" class="form-control custom-select">
            <option selected value="">Todas</option>
            {{#each usuario.organizacion.categorias}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>
        &ensp;
        <input class="btn btn-sm btn-primary" type="submit" value="Buscar">
    </form>
    <br>
    <table class="table table/stripped">
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Categoría</th>
            <th></th>
        </tr>
        {{#each entidades}}
            <tr>
                <td>{{nombreFicticio}}</td>
                <td>{{tipo}}</td>
                <td>{{#if categoria}}{{categoria.nombre}}{{else}}Ninguna{{/if}}</td>
                <td><a href="/entidades/{{id}}/egresos">Egresos</a></td>
                <td><a href="/entidades/{{id}}">Editar</a></td>
            </tr>
        {{/each}}
    </table>
    <br>
    <a class="btn btn-primary disabled" role="button" href="entidades/new" type="submit">Nueva</a>
{{/partial}}

{{>layout.hbs}}