{{#partial "contenido"}}
    <h1>{{entidad.nombreFicticio}}</h1>
    <h3>Entidad {{entidad.tipo}}</h3>
    <div class="form-group">
        <a class="btn btn-primary" role="button" href="/entidades/{{entidad.id}}/egresos">Egresos</a>
    </div>
    <br>
    <form method="POST" action="/entidades/{{entidad.id}}/base">
        <div class="form-group">
            <label>Nombre</label>
            <div class="form-group">
                <input id="nombreFicticio" type="text" class="form-control" placeholder="Nombre" name="nombreFicticio" value="{{entidad.nombreFicticio}}">
            </div>
        </div>
        <div class="form-group">
            <label>Categoría</label>
            <select id="categoria" name="categoria" class="form-control custom-select">
                <option selected>Ninguna</option>
                {{#each usuario.organizacion.categorias}}
                    <option value="{{id}}">{{nombre}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>Descripción</label>
            <div class="form-group">
                <input id="descripcion" type="text" class="form-control" placeholder="Descripción" name="descripcion" value="{{entidad.descripcion}}">
            </div>
        </div>
        <br>
        <div class="d-flex">
            <div class="mr-auto">
                <a class="btn btn-danger" href="/entidades">Cancelar</a>
            </div>
            <div class="ml-auto">
                <input type="submit" class="btn btn-success btn-lg" value="Guardar">
            </div>
        </div>
    </form>
{{/partial}}

{{>layout.hbs}}