{{#partial "contenido"}}
    <h1>Entidades</h1>
    <table class="table table/stripped">
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Categoría</th>
            <th></th>
        </tr>
        {{#each entidades as entidad}}
            <tr>
                <td>{{nombreFicticio}}</td>
                <td>{{tipo}}</td>
                <td>{{#if categoria}}{{categoria.nombre}}{{else}}Ninguna{{/if}}</td>
                <td><a href="/entidades/{{id}}">Ver</a></td>
            </tr>
        {{/each}}
    </table>
    <a class="btn btn-primary disabled" role="button" href="entidades/new">Crear Entidad</a>
{{/partial}}

{{>layout.hbs}}