{{#partial "contenido"}}
    <h1>Egresos </h1>

    <table class="table table/stripped">
        <tr>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Medio de Pago</th>
            <th>Es del ultimo mes</th>
            <th></th>
        </tr>

        {{#each egresos}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{fecha}}</td>
            <td>{{medioDePago}}</td>
            <td>{{isTrue esDelUltimoMes}}</td>
            <td><a href="/egresos/{{id}}">Ver</a></td>
        </tr>
    {{/each}}
    </table>
    <a class="btn btn-primary" role="button" href="/egresos/new">Agregar Egreso</a>
{{/partial}}

{{>layout.hbs}}