{{#partial "contenido"}}
    <h1>Modificar Egreso</h1>
    <h3>{{entidad.nombreFicticio}}</h3>
    <br>
    <form action="/entidades/{{entidad.id}}/egresos/{{egreso.id}}" method="POST">
        <div class="form-group">
            <label for="fecha">Fecha</label>
            <div>
                <input class="form-control" type="date" value="{{egreso.fecha}}" id="fecha" name="fecha">
            </div>
        </div>
        <div class="form-group">
            <label>Medio de pago</label>
            <select id="medioDePago" name="medioDePago" class="form-control custom-select">
                <option value="TarjetaCredito" {{#if tarjetaCredito}}selected{{/if}}>Tarjeta de Crédito</option>
                <option value="TarjetaDebito" {{#if tarjetaDebito}}selected{{/if}}>Tarjeta de Débito</option>
                <option value="Efectivo" {{#if efectivo}}selected{{/if}}>Efectivo</option>
                <option value="CajeroAutomatico" {{#if cajeroAutomatico}}selected{{/if}}>Cajero Automático</option>
                <option value="DineroEnCuenta" {{#if dineroEnCuenta}}selected{{/if}}>Dinero en Cuenta</option>
            </select>
        </div>
        <div class="form-group">
            <label>Presupuestos Requeridos</label>
            <div class="form-group">
                <input id="presupuestosRequeridos" type="number" class="form-control" placeholder="Presupuestos Requeridos" name="presupuestosRequeridos" value="{{egreso.presupuestosRequeridos}}">
            </div>
        </div>
        <div class="form-check">
            <input id="escogerMenor" name="escogerMenor" class="form-check-input" type="checkbox" value="true" {{#if egreso.escogerMenor}}checked{{/if}}>
            <label class="form-check-label" for="escogerMenor">Escoger presupuesto menor</label>
        </div>
        <br>
        <a class="btn btn-danger" href="/entidades/{{entidad.id}}/egresos">Atrás</a>
        <input class="btn btn-success btn-lg" type="submit" value="Guardar">
    </form>
{{/partial}}

{{>layout.hbs}}